@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1>The Joel Hilton Film Collection</h1>
</div>

<div class="text-center">
    <img src="/img/JoelHiltonHeadshot.jpg" width="300"/>
</div>
<br />
<div class="text-center">
    This is a website beyond value. We appreciate your contributions to our Movie Collection!
</div>
